<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title> 
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="logo" style="text-align: center; margin:20px 0 40px;"><a href="index.html"><img src="images/logo.svg"></a></div>
    <h1 class="title">Вход</h1>
    
    <div class="form">
        <p style="margin-bottom: 40px;font-family: 'Roboto'; font-size: 24px;">Введите данные для входа</p>
        <div class="form__group">
            <input class="form__input" type="number" placeholder=" ">
            <label class="form__label">Номер телефона или ИИН/ЖСН</label>
        </div>
        <div class="form__group">
            <input class="form__input" type="password" placeholder=" ">
            <label class="form__label">Пароль</label>
        </div>
        <a href="register.html" class="link-auth" style="margin-bottom: 40px;font-family: 'Roboto'; font-size: 20px; text-decoration: none;">Нету аккаунта?</a>
        <a href="#" class="register-button" style="font-size: 24px;">Войти</a>
    </div>
</body>
</html>