<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .google-icon svg {
          width: 24px; /* Adjust the width as needed */
          height: 24px; /* Adjust the height as needed */
    
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/templates/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="logo" style="text-align: center; margin:20px 0 40px;"><a href="static/templates/index.html"><img src="static/templates/images/logo.svg"></a></div>
    <h1 class="title">Вход</h1>
    <form method="POST" action="/login">
    <div class="form">
        <p style="margin-bottom: 40px;font-family: 'Roboto'; font-size: 24px;">Введите данные для входа</p>
        <div class="form__group">
            <input name ="iin" class="form__input" type="number" placeholder=" ">
            <label class="form__label">Номер телефона или ИИН/ЖСН</label>
        </div>
        <div class="form__group">
            <input name ="password" class="form__input" type="password" placeholder=" ">
            <label class="form__label">Пароль</label>
        </div>
        <a href="/signup" class="link-auth" style="margin-bottom: 40px;font-family: 'Roboto'; font-size: 20px; text-decoration: none;">Нету аккаунта?</a>

        <input type="submit" class="register-button" style="font-size: 24px;" value="Войти">
    </div>
    
</form>
    <div style="display: flex; justify-content: center;" class="text-center mb-3">
        <div class="text-center mb-3">
            <a href="/auth/google/login" class="btn btn-outline-danger">
                <span class="google-icon me-2" style="display: inline-block; width: 24px; height: 24px;">
                    <svg viewBox="0 0 24 24" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.9 12.19,19.9C8.36,19.9 5,16.54 5,12.71C5,8.88 8.36,5.52 12.19,5.52C14.76,5.52 16.87,6.85 18.08,8.8L20.56,6.32C18.38,3.85 15.17,2.18 12.19,2.18C6.42,2.18 2.05,6.55 2.05,12.22C2.05,17.9 6.42,22.27 12.19,22.27C17.04,22.27 21.35,18.81 21.35,11.1Z" fill="#fbbc05"/>
                        <path d="M3.99,10.22C3.97,10.01 3.95,9.8 3.95,9.59C3.95,9.38 3.97,9.17 3.99,8.96L3.98,8.96L3.98,8.96C4.07,7.54 4.39,6.2 5.02,4.97L5.03,4.96L1.71,1.64L1.67,1.67L1.64,1.7C0.72,3.14 0.18,4.85 0,6.67C0.35,10.16 2.38,13.27 5.43,15.07L9.11,11.39C7.41,10.06 6.06,8.2 5.15,6" fill="#ea4335"/>
                        <path d="M19.32,3.33C20.59,4.92 21.35,6.91 21.35,9C21.35,10.2 21.09,11.35 20.65,12.39L20.65,12.39L12.19,12.39L12.18,11.5L12.18,11.1H21.35L19.32,3.33Z" fill="#34a853"/>
                        <path d="M12.18,17.38L15.84,17.38L15.85,17L16.4,16.94C17.49,16.77 18.41,16.05 18.86,15.07C19.67,13.31 19.85,11.29 19.72,9.38L19.72,9.36L19.72,9.33L19.67,9.18L12.19,9.18L12.18,9.59L12.18,11.03H18.42C18.25,12.61 17.5,14.05 16.28,15.05L12.18,19.14L12.18,17.38Z" fill="#4285f4"/>
                    </svg>
                </span>
                Sign in with Google
            </a>
        </div>
    </div>
   
</body>
</html>